<section>
  <h2>Subscribe</h2>
  <!-- Begin MailChimp Signup Form -->
  <!-- <div id="mc_embed_signup">
	<form action="http://ashwani.us7.list-manage.com/subscribe/post?u=060ebf66b0ed41ea7018607ff&amp;id=24f2832472" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="mc-field-group">
  <label for="mce-EMAIL">
    Enter your email to receive new content in your email.
  </label>
  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@email.com">
      </div>
      <div id="mce-responses" class="clear">
  <div class="response" id="mce-error-response" style="display:none"></div>
  <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
      <div class="clear">
  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>
    </form>
  </div> -->
  <!--End mc_embed_signup-->

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"45df2f4aeda9ba435af91aee6","lid":"2379ff48b1","uniqueMethods":true}) })</script>

</section>
