// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.mainpage-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 180%;
    font-family: 'Reenie Beanie';
    font-style: normal;
    padding: 2px 5px 0;
    text-shadow: none;
    font-weight: normal;
}

.mynav{
  font-family: "Rock Salt";
}

body{
  font-family: 'Lato';
  //<link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Rock+Salt">
  //font-family: "Rock Salt";
}

.twitter-tweet,.coderwall-endorse,.github-feedback, .fb_like, .fb_iframe_widget span {
  vertical-align: baseline !important;
  padding: 5px;
}

.pluginButton, .pluginButtonInline, .pluginConnectButtonDisconnected{
width: 35px; 
height: 14px;
}

/*
LESS helper
*/
/*
List modules
.list-linear  - list line up horizontally

No styleguide reference.
*/
.mysocial ul{
  display: block;
  margin-left: 1%;
  height: 25px;
  li{
    height: 25px;
  }
}

.mynegativefooter{
  margin-top: -40px;
}

.mysocial-list-linear {
  letter-spacing: -0.31em;
  //letter-spacing: normal;
  word-spacing: -0.43em;
  list-style: square;
  padding-left: 0;
}
.mysocial-list-linear li {
  display: inline-block;
  //display: inline;
  zoom: 1;
  line-height: normal;
  letter-spacing: normal;
  margin-right: 16px;
  word-spacing: normal;
  vertical-align: middle;
}
.mysocial-list-linear li:last-child {
  margin-right: 0;
}

.left_aligned_image{
  float: left;
  margin:10px 20px 0 0;
}


// For subscribe.html

#mc_embed_signup {

    // label
    .mc-field-group > label {
  margin-top: 8px;
  display: block;
    }

    // textfield
    input.email {
  width: 100%; height: 24px; margin-top: 8px; font-size: 14px;
    }

    // subscribe button
    input#mc-embedded-subscribe {
  background-color: #5DA423;
  border: 1px solid #396516;
  width: auto;
  background: #2BA6CB;
  border: 1px solid #1E728C;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin: 8px 0 0 0;
  outline: none;
  padding: 10px 20px 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
    }
}

//for /news page

.news-content {
  margin-top: -40px;
  td {
    padding-left: 5px;
    padding-right: 5px;
    .lh{
      margin-top: -2%;
    }
  }
}

.news-title {
  padding-top: 2%;
  padding-left: 5px;
}

.news-meta{
  padding-left: 5px;
  color: gray;
  font-size: 10px;
}

.restricted{ 
    margin-left: -28px;
}

.mynotice {
  font-family: Segoe UI, Arial, Verdana, Tahoma, sans-serif;
  color: steelblue;
}